header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background:rgba(7,9,15,.85);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);
    border-bottom:1px solid rgba(255,255,255,.08);
}

nav{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:30px;
    font-weight:700;
    color:#ffffff;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:35px;
}

.nav-links a{
    color:#ffffff;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:var(--primary-color);
}
.menu-toggle{
    display:none;
    background:none;
    border:none;
    color:#fff;
    font-size:30px;
    cursor:pointer;
}

@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:80px;
        left:0;
        width:100%;
        background:#07090F;
        display:none;
        flex-direction:column;
        padding:25px;
        gap:20px;
        border-top:1px solid rgba(255,255,255,.08);
    }

    .nav-links.active{
        display:flex;
    }

    nav .btn{
        display:none;
    }

}