header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:1000;
    background:rgba(7,9,15,.85);
    backdrop-filter:blur(16px);
    border-bottom:1px solid rgba(255,255,255,.08);
}

nav{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#fff;
}

nav ul{
    display:flex;
    gap:35px;
}

nav ul a{
    color:#fff;
    transition:.3s;
}

nav ul a:hover{
    color:var(--primary-color);
}