.page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.details-card{
    width:100%;
    max-width:700px;
    background:#1b1d25;
    padding:40px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,.08);
}

.details-card h1{
    color:#00e676;
    margin-bottom:20px;
}

.details-card p{
    margin:12px 0;
    color:#ddd;
}

#joinBtn{
    margin-top:25px;
    width:100%;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#00e676;
    color:#111;
    font-weight:bold;
    cursor:pointer;
}
.back-btn{

display:inline-block;

margin-bottom:25px;

color:#00e676;

text-decoration:none;

font-weight:bold;

}

.back-btn:hover{

text-decoration:underline;

}